<template>
  <section id="about" class="hide-overflow">
    <v-layout white>
      <v-flex xs12 lg6 pa-5>
        <BaseBubble1 style="transform: translate(5%, -5%)"/>
        <BaseHeading class="info--text">About Me</BaseHeading>

        <BaseText
          class="mb-5"
        >
        I was first introduced to programming in high school. I decided that I wanted to make it my career. I have now been programming for 18 years!
        </BaseText>

        <BaseSubheading class="info--text">Frontend</BaseSubheading>
        <v-layout v-for="(skill) in frontend" :key="skill.name" style="color: rgb(47, 80, 95)" wrap>
          
          <v-flex xs6 text-uppercase v-text="skill.name"/>
          <v-flex xs6 text-xs-right v-text="`${skill.value}%`"/>
          <v-progress-linear :value="skill.value" color="info" height="8"/>
        </v-layout>
        <BaseSubheading class="info--text">Backend</BaseSubheading>
        <v-layout v-for="(skill) in backend" :key="skill.name" style="color: rgb(47, 80, 95)" wrap>
          <v-flex xs6 text-uppercase v-text="skill.name"/>
          <v-flex xs6 text-xs-right v-text="`${skill.value}%`"/>
          <v-progress-linear :value="skill.value" color="info" height="8"/>
        </v-layout>
        <BaseSubheading class="info--text">Database</BaseSubheading>
        <v-layout v-for="(skill) in database" :key="skill.name" style="color: rgb(47, 80, 95)" wrap>
          <v-flex xs6 text-uppercase v-text="skill.name"/>
          <v-flex xs6 text-xs-right v-text="`${skill.value}%`"/>
          <v-progress-linear :value="skill.value" color="info" height="8"/>
        </v-layout>
      </v-flex>
      <v-flex hidden-md-and-down md6>
        <v-img 
          :src="require('~/static/images/XmasZooSteve2.jpeg')"
          :srcset="require('~/static/images/XmasZooSteve2.jpeg').srcSet"
          :lazy-src="require('~/static/images/XmasZooSteve2.jpeg').placeholder"
        height="100%" max-height="1400"/>
      </v-flex>
    </v-layout>
  </section>
</template>

<script>
export default {
  name: 'AboutMe',
  serverCacheKey: key => 'AboutMe',
  components: {
    BaseHeading: () => import('@/components/base/Heading'),
    BaseSubheading: () => import('@/components/base/Subheading'),
    BaseText: () => import('@/components/base/Text'),
    BaseBubble1: () => import('@/components/base/Bubble1')
  },
  data: () => ({
    frontend: [
      {
        name: 'Javascript',
        value: 100
      },
      {
        name: 'Html5',
        value: 90
      },
      {
        name: 'Vue',
        value: 70
      },
      {
        name: 'React',
        value: 50
      }
    ],
    backend: [
      {
        name: 'C#',
        value: 100
      },
      {
        name: 'Node.js',
        value: 100
      },
      {
        name: 'PHP',
        value: 75
      },
      {
        name: 'Java',
        value: 50
      },
    ],
    database: [
      {
        name: 'Microsoft SQL Server',
        value: 100
      },
      {
        name: 'MySQL',
        value: 70
      },
      {
        name: 'MongoDB',
        value: 60
      },
      
      {
        name: 'Postgres',
        value: 50
      }
    ]
  })
}
</script>