<template>
  <section id="get-in-touch" class="hide-overflow">
    <v-layout info white--text>
      <v-flex hidden-sm-and-down md6>
        <v-img 
          :src="require('~/static/images/contact4.jpg')"
          :srcset="require('~/static/images/contact4.jpg').srcSet"
          :lazy-src="require('~/static/images/contact4.jpg').placeholder"
          height="100%"/>
      </v-flex>
      <v-flex xs12 md6 pa-5>
        <BaseBubble1/>
        <BaseHeading id="Email" class="mb-5">Get In Touch</BaseHeading>

        <v-sheet max-width="600" color="transparent">
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field
              v-model="email"
              :rules="emailRules"
              required
              id="Email"
              color="info"
              label="Email"
              solo
              flat
            />
            <v-text-field
              v-model="subject"
              :rules="subjectRules"
              required
              id="Subject"
              color="info"
              label="Subject"
              solo
              flat
            />
            <v-textarea
              v-model="message"
              :rules="messageRules"
              required
              id="Message"
              color="info"
              label="Message"
              solo
              flat
            />
            <v-textarea
              v-model="email2"
              id="Email2"
              color="info"
              label="Email"
              solo
              flat
              class="d-none"
            />

            <v-btn
              :disabled="!valid"
              large
              dark
              color="#353130"
              rounded
              :loading="showSendingEmail"
              @click="validate"
            >Send</v-btn>

            <v-dialog v-model="showSendingEmail" hide-overlay persistent width="300">
              <v-card color="primary" dark>
                <v-card-text>
                  Sending Email
                  <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
                </v-card-text>
              </v-card>
            </v-dialog>

            <v-dialog v-model="showEmailResult" max-width="290">
              <v-card>
                <v-card-title class="headline">Contact</v-card-title>

                <v-card-text>{{emailResultText}}</v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="green darken-1" flat="flat" @click="showEmailResult = false">Close</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-form>
        </v-sheet>
      </v-flex>
    </v-layout>
  </section>
</template>

<script>
import axios from 'axios'

export default {
  components: {
    BaseHeading: () => import('@/components/base/Heading'),
    BaseBubble1: () => import('@/components/base/Bubble1')
  },
  data() {
    return {
      valid: true,
      showSendingEmail: false,
      showEmailResult: false,
      emailResultText: '',
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid'
      ],
      subject: '',
      subjectRules: [
        v => !!v || 'Subject is required',
        v => (v && v.length <= 100) || 'Name must be less than 100 characters'
      ],
      message: '',
      messageRules: [v => !!v || 'Message is required'],
      email2: '',
    }
  },
  methods: {
    validate: function() {
      if (this.$refs.form.validate()) {
        this.showSendingEmail = true
        this.submitToServer().then(response => {
          const body = response.json()
          if (Number(response.status) !== 200) {
            this.showSendingEmail = false
            this.showEmailResult = true
            this.emailResultText = "There was an error while trying to send the email.  Please contact me using another site."
            console.log(error)
          } else {
            this.resetForm()
            this.showSendingEmail = false
            this.showEmailResult = true
            this.emailResultText = "Thank you for contacting me.  Expect a response within one business day."
          }
        })
      }
    },
    submitToServer() {
      var data = {
        email: this.email,
        subject: this.subject,
        message: this.message,
        email2: this.email2
      }

      return new Promise((resolve, reject) => {
        fetch(`${process.env.functions}/mail`, {
		  mode: 'cors',
          method: 'POST',
          body: JSON.stringify(data)
        })
          .then(response => {
            console.log(response)
            resolve(response)
          })
          .catch(err => {
            reject(err)
          })
      })
    },
    resetForm(){
      this.email = "";
      this.subject = "";
      this.message = "";
      this.$refs.form.resetValidation()
    }
  }
}
</script>