<template>
  <section
    id="projects"
    class="hide-overflow"
  >
    <v-layout>
      <v-flex
        xs12
        md6
        primary
        text-xs-center
        pa-5
      >
        <BaseBubble1
          style="transform: rotate(180deg) translateX(25%)"
        />
        <BaseHeading>
          Projects
        </BaseHeading>

        <BaseText class="mb-5">
          I have some samples of my projects below.
        </BaseText>

        <v-card color="secondary" class="mb-5">
          <v-container
            grid-list-md
            pa-2
          >
            <v-layout :class="projects" wrap>
              <v-flex
                v-for="project in projects"
                :key="project.name"
                xs12
                md6
              >
                <a :href="project.href" :aria-label="project.name">
                  <v-img
                    :src="require(`@/static/images/${project.image}`)"
                    :srcset="require(`@/static/images/${project.image}`).srcSet"
                    :lazy-src="require(`@/static/images/${project.image}`).placeholder"
                    max-height="300"
                  />
                </a>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>

        <BaseHeading>
          Hosting
        </BaseHeading>


        <BaseText class="mb-5">
          Here are some projects that I did not write but am running for my own use.
        </BaseText>

        <v-card color="secondary">
          <v-container
            grid-list-md
            pa-2
          >
            <v-layout :class="projects" wrap>
              <v-flex
                v-for="project in hosting"
                :key="project.name"
                xs12
                md6
              >
                <a :href="project.href" :aria-label="project.name">
                  <v-img
                    :src="require(`@/static/images/${project.image}`)"
                    :srcset="require(`@/static/images/${project.image}`).srcSet"
                    :lazy-src="require(`@/static/images/${project.image}`).placeholder"
                    max-height="300"
                  />
                </a>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-flex>
      <v-flex
        hidden-sm-and-down
        md6
      >
        <v-img
          :src="require('~/static/images/torches2.jpg')"
          :srcset="require('~/static/images/torches2.jpg').srcSet"
          :lazy-src="require('~/static/images/torches2.jpg').placeholder"
          height="100%"
        />
      </v-flex>
    </v-layout>
  </section>
</template>

<script>
export default {
  name: 'Projects',
  serverCacheKey: key => 'Projects',
   components: {
    BaseHeading: () => import('@/components/base/Heading'),
    BaseText: () => import('@/components/base/Text'),
    BaseBubble1: () => import('@/components/base/Bubble1'),
  },
  data: () => ({
    projects: [
      {name: 'Madison Area Jugglers Website', image: 'project1.jpeg', href: 'https://madjugglers.com/'},
      {name: 'NodeJS Web Crawler', image: 'project2.jpeg', href: 'https://gitlab.com/Giantzoc/pathfinder-crawler/'},
      {name: 'DotNetCore Console Application', image: 'project4.jpeg', href: 'https://github.com/GiantZOC/DotNetCoreConsole'},
      {name: 'Screeps Scripts', image: 'project3.jpeg', href: 'https://github.com/GiantZOC/ScreepsFresh'},
    ],
    hosting: [
      {name: 'Peertube', image: 'peertube.jpeg', href: 'https://juggling.digital/'},
      {name: 'RSS Bridge', image: 'rssbridge.jpeg', href: 'https://rssbridge.disposessed.com/rss-bridge/'},
      {name: 'Mailman', image: 'mailman.jpeg', href: 'https://mail.madjugglers.com/mailman/listinfo'},
      {name: 'Nextcloud', image: 'nextcloud.jpeg', href: 'https://nextcloud.juggling.digital/nextcloud/'},
      {name: 'OnlyOffice', image: 'onlyoffice.jpeg', href: 'https://onlyoffice.juggling.digital/onlyoffice/welcome/'},
      {name: 'Jitsi Meet', image: 'jitsimeet.jpeg', href: 'https://jitsi.disposessed.com/'},
    ]
  })
}
</script>
<style>
.container.grid-list-md .layout .flex{
  border: 5px;
  border-style: solid;
  border-color:black;
}
</style>