<template>
  <section id="services" class="hide-overflow">
    <v-layout accent>
      <v-flex hidden-sm-and-down md6>
        <v-img
          :src="require('~/static/images/services3.jpeg')"
          :srcset="require('~/static/images/services3.jpeg').srcSet"
          :lazy-src="require('~/static/images/services3.jpeg').placeholder"
          height="100%"
        />
      </v-flex>
      <v-flex xs12 md6 text-xs-center pa-5>
        <v-layout align-center justify-center fill-height wrap>
          <v-flex xs12>
            <BaseBubble2 style="transform: translateX(55%)"/>
            <BaseHeading class="info--text">Services</BaseHeading>

            <BaseText class="mb-5">These are the main services I offer.</BaseText>
          </v-flex>
          <v-flex v-for="(service, i) in services" :key="i" md6 text-xs-center mb-3>
            <v-avatar class="elevation-6 mb-2" color="#69A1BB" size="64" tile>
              <v-icon dark size="52" v-text="service.icon"/>
            </v-avatar>
            <BaseText>
              <div class="mb-2" v-text="service.name"></div>
              <div v-html="service.blurb"></div>
            </BaseText>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </section>
</template>

<script>
export default {
  name: 'Services',
  serverCacheKey: props => 'Services',
  components: {
    BaseHeading: () => import('@/components/base/Heading'),
    BaseText: () => import('@/components/base/Text'),
    BaseBubble1: () => import('@/components/base/Bubble1'),
    BaseBubble2: () => import('@/components/base/Bubble2')
  },
  data: () => ({
    services: [
      {
        name: 'Analysis',
        icon: 'mdi-clipboard-text-outline',
        blurb:
          'Not sure what you need? </br>  I can help gather and refine requirements.'
      },
      {
        name: 'Development',
        icon: 'mdi-wrench-outline',
        blurb:
          'I can write the program you need using modern software development standards.'
      },
      {
        name: 'Design',
        icon: 'mdi-pencil-outline',
        blurb:
          'A good user interface can improve user adoption and productivity.'
      },
      {
        name: 'Support',
        icon: 'mdi-account',
        blurb: 'Need something fixed?  I can dig in and resolve the issue.'
      },
      {
        name: 'System Administration',
        icon: 'mdi-settings-outline',
        blurb:
          'I can setup your new site or move your existing site to a new host.'
      }
    ]
  })
}
</script>

