<template>
  <div>
    <v-btn
      v-for="(item, i) in items.slice(0, large ? items.length : 4)"
      :key="i"
      fab
      class="ma-2"
      :large="large"
      color="info"
      :href=item.target
      :aria-label=item.arialabel
    >
      <v-icon
        dark
        v-text="item.icon"
      />
    </v-btn>
  </div>
</template>

<script>
export default {
  name: 'SocialMedia',
  serverCacheKey: key => 'SocialMedia',
  props: {
    large: {
      type: Boolean,
      default: false
    }
  },

  data: () => ({
    items: [
      {
        name: 'Github',
        icon: 'mdi-github-circle',
        target: 'https://github.com/GiantZOC',
        arialabel: 'My Github page'
      },
      {
        name: 'Gitlab',
        icon: 'mdi-gitlab',
        target: 'https://gitlab.com/Giantzoc',
        arialabel: 'My Gitlab page'
      },
      {
        name: 'Email',
        icon: 'mdi-email',
        target: '#Email',
        arialabel: 'Contact Me'
      },
    ]
  })
}
</script>
