<template>
  <section
    id="welcome"
    class="hide-overflow"
  >
    <v-layout>
      <v-flex
        hidden-md-and-down
        md6
      >
        <v-img
          :src="require('~/static/images/JoshuaTree9.jpg')"
          :srcset="require('~/static/images/JoshuaTree9.jpg').srcSet"
          :lazy-src="require('~/static/images/JoshuaTree9.jpg').placeholder"
          :max-height="imageHeight"
          position="center top"
        />
      </v-flex>

      <v-flex
        xs12
        lg6
        align-content-space-between
        layout
        :pa-5="$vuetify.breakpoint.smAndDown"
        wrap
      >
        <BaseBubble1
          style="transform: rotate(180deg) translateY(25%)"
        />

        <v-layout
          align-center
          justify-center
        >
          <v-flex
            xs10
            md6
          >
            <BaseHeading>Welcome!</BaseHeading>
            <BaseText>
              I am a full stack web developer living in Madison WI.  I am passionate about open source programming.  I started my career as a developer on the Microsoft technology stack.  I still do .NET programming professionally but use PHP and Node.JS for my personal projects.  Recently I have been very interested in Laravel and have been training myself on it with Laracasts.
            </BaseText>
          </v-flex>
        </v-layout>

        <BaseBubble2
          style="transform: rotate(180deg) translate(-200px, -15%)"
        />
      </v-flex>
    </v-layout>
  </section>
</template>

<script>
export default {
  name: 'Welcome',
  serverCacheKey: key => 'Welcome',
  components: {
    BaseHeading: () => import('@/components/base/Heading'),
    // BaseSubheading: () => import('@/components/base/Subheading'),
    BaseText: () => import('@/components/base/Text'),
    BaseBubble1: () => import('@/components/base/Bubble1'),
    BaseBubble2: () => import('@/components/base/Bubble2')
  },
  computed: {
    imageHeight () {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs': return '220px'
        case 'sm': return '400px'
        case 'md': return '500px'
        case 'lg': return '1020px'
        case 'xl': return '900px'
      }
    }
  }
  
}
</script>