<template>
  <v-footer
    height="88"
    class="justify-center"
  >
    <!-- <social-media large /> -->
    <Gotop/>
  </v-footer>
</template>

<script>
export default {
  components: {
    // SocialMedia: () => import('@/components/sections/SocialMedia'),
    Gotop: () => import('@/components/base/Gotop')
  }
}
</script>
