<template>
  <v-toolbar
    v-scroll="onScroll"
    :color="isTransparent ? 'transparent' : '#F5F5F5'"
    app
    flat
  >
    <v-spacer />
    <SocialMedia />
  </v-toolbar>
</template>

<script>
export default {
  name: 'Toolbar',
  serverCacheKey: key => 'Toolbar',
  components: {
    SocialMedia: () => import('@/components/sections/SocialMedia')
  },

  data: () => ({
    isTransparent: true
  }),

  methods: {
    onScroll () {
      this.isTransparent = window.pageYOffset < 200
    }
  }
}
</script>
