<template>
  <div>
    <CoreToolbar/>
    <welcome />
    <projects />
    <services />
    <about-me />
    <get-in-touch />
    <no-ssr>
      <!-- this component will only be rendered on client-side -->
      <CoreFooter />
    </no-ssr>
  </div>
</template>

<script>
export default {
  components: {
    CoreToolbar: () => import('@/components/layout/Toolbar'),
    AboutMe: () => import('@/components/sections/AboutMe'),
    GetInTouch: () => import('@/components/sections/GetInTouch'),
    Projects: () => import('@/components/sections/Projects'),
    Services: () => import('@/components/sections/Services'),
    Welcome: () => import('@/components/sections/Welcome'),
    CoreFooter: () => import('@/components/layout/Footer')
  },
  head (){
    return {
      title: "Steven Clipson"
    };
  }
}
</script>
